* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1F2937;
    
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    
    
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}




img {
    width: 50px;
    height: auto;
    border-radius: 50px;
}