* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #1F2937;
    
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
    background-color: #1F2937;
    color: white;
    font-weight: lighter;
   
}


.hero-left {
    width: 500px;
    
}


.hero-left h1{
    margin-bottom: 5px;
}

.hero-left p {
    margin-bottom: 15px;
}

a {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    text-decoration: none;
}




img {
    width: 500px;
    
}

#btnSignUp {
    background-color: #3882F6;
    border-radius: 7px;
    padding: 8px 30px;
    color: white;
    border: none;
}